div{
    height: 200px;
    width: 200px;
}
.one{
    background-color: brown;
}
.two{
    background-color: green;
}
.three{
    background-color: blueviolet;
}
.four{
    background-color: yellow;
}
.boy{
    font-size: 20px;
    color: blueviolet;
 margin: 40px 60px 100px;
}
.woman{
    font-size: 40px;
    color: purple;
}
.btn{
    border: 10px solid blue;
    background-color: aqua;
    color: black;
    margin: 30px;
}
h1{
   padding: 100px;
}
h3{
   margin: 20px 30px 40px;
}