body{
    background: linear-gradient(rgba(20,30,155,0.5), rgba(20,30,355,0.5)), url(image2.png);
   
}
img{
    width: 50px;

}
h3{
    color: white;
    margin-left: 50px;
}
.logo{
    display: flex;
}